<div class="section">
    <div class="slideshow">
        <div class="slideshow-item">
            <img src="./assets/img/3_1.jpg" alt="img12" />
            <div class="slideshow-item-text">
                <h5>welecome to pravsiicart.com</h5>
                <span></span>
                <p>Welcome to pravasicart online deliverysystem</p>
                <button class="btn btn-sucess">Shop Now</button>
    
            </div>
        </div>

    </div>
    <!-- <div class="container"> -->
        
        <!-- <div class="top-left">Top Left</div> -->
    <!-- </div> -->
</div>
