<div class="slideshow">
    <div class="slideshow-item">
        <img src="../assets/img/sample-1.jpg" alt="">
        <div class="slideshow-item-text">
            <h5>welecome to pravsicart.com</h5>
            <span></span>
            <p>Welcome to pravasicart online deliverysystem</p>
            <button class="btn btn-sucess">Shop Now</button>
        </div>
    </div>
    <div class="slideshow-item">
        <img src="../assets/img/sample-2.jpg" alt="">
        <div class="slideshow-item-text">
            <h5>welecome to pravsiicart.com</h5>
            <span></span>
            <p>Welcome to pravasicart online deliverysystem</p>
            <button class="btn btn-sucess">Shop Now</button>

        </div>
    </div>
    <div class="slideshow-item">
        <img src="../assets/img/sample-3.jpg" alt="">
        <div class="slideshow-item-text">
            <h5>welecome to pravsiicart.com</h5>
            <span></span>
            <p>Welcome to pravasicart online deliverysystem</p>
            <button class="btn btn-sucess">Shop Now</button>

        </div>
    </div>
    <!-- <div class="text-box">
        <h1>welecome to pravsiicart.com</h1>
        <span></span>
        <p>Welcome to pravasicart online deliverysystem</p>
    </div> -->
</div>
<!-- 
<div class="static-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="info info1">
                    <h4>Free Shipping</h4>
                    <span>Free shipping on all US order or order above $200</span>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="info info2">
                    <h4>Support 24/7</h4>
                    <span>Contact us 24 hours a day, 7 days a week</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="info info3">
                    <h4>30 Days Return</h4>
                    <span>Simply return it within 30 days for an exchange</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="info info4">
                    <h4>100% Payment Secure</h4>
                    <span>We ensure secure payment with PEV</span>
                </div>
            </div>
        </div>
    </div>

</div> -->