<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="section-title"> -->
                <p style=" font-style: italic;    color: #929292;
                    font-size: 15px;   font-family: 'Playfair Display',serif; text-align: center;">Choose a category
                </p>
                <h3 class="title"
                    style=" font-family: 'Work Sans',sans-serif; text-align: center;    text-transform: capitalize;font-weight: 500;">
                    Categories</h3>


            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="product" >
                   
                    <div class="product-body">
                        <!-- <p style="text-align: center;" class="product-category">Cabeage</p> -->
                        <h3 style="text-align: center;" class="product-name">cat 1</h3>
                        <!-- <h4 class="product-price">$20 </h4> -->
                      
                        <div class="product-btns">
        
                            <button class="quick-view" (click)="view(foodItems)"><i class="fa fa-eye"></i><span
                                    class="tooltipp">View</span></button>
                            
                        </div>
                    </div>
        
                </div>
            </div>
            <div class="col-md-3">
                <div class="product" >
                   
                    <div class="product-body">
                        <!-- <p style="text-align: center;" class="product-category">Cabeage</p> -->
                        <h3 style="text-align: center;" class="product-name">cat 1</h3>
                        <!-- <h4 class="product-price">$20 </h4> -->
                      
                        <div class="product-btns">
        
                            <button class="quick-view" (click)="view(foodItems)"><i class="fa fa-eye"></i><span
                                    class="tooltipp">View</span></button>
                            
                        </div>
                    </div>
        
                </div>
            </div>
            <div class="col-md-3">
                <div class="product" >
                   
                    <div class="product-body">
                        <!-- <p style="text-align: center;" class="product-category">Cabeage</p> -->
                        <h3 style="text-align: center;" class="product-name">cat 1</h3>
                        <!-- <h4 class="product-price">$20 </h4> -->
                      
                        <div class="product-btns">
        
                            <button class="quick-view" (click)="view(foodItems)"><i class="fa fa-eye"></i><span
                                    class="tooltipp">View</span></button>
                            
                        </div>
                    </div>
        
                </div>
            </div>
            <div class="col-md-3">
                <div class="product" >
                   
                    <div class="product-body">
                        <!-- <p style="text-align: center;" class="product-category">Cabeage</p> -->
                        <h3 style="text-align: center;" class="product-name">cat 1</h3>
                        <!-- <h4 class="product-price">$20 </h4> -->
                      
                        <div class="product-btns">
        
                            <button class="quick-view" (click)="view(foodItems)"><i class="fa fa-eye"></i><span
                                    class="tooltipp">View</span></button>
                            
                        </div>
                    </div>
        
                </div>
            </div>
         
        </div>
    </div>
</div>