<!-- <app-header></app-header>



<section class="ftco-section" style="margin-top: 9vw;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7 ftco-animate">
        <form class="billing-form" >
          <h3 class="mb-4 billing-heading">Billing Details</h3>
          <div class="row align-items-end">
            <div class="col-md-6">
              <div class="form-group">
                <label for="firstname">Firt Name</label>
                <input type="text"  class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text"  class="form-control" placeholder="">
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="country">State</label>
                <input type="text"  class="form-control" placeholder="">
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="streetaddress">Street Address</label>
                <input type="text" class="form-control" placeholder="House number and street name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text"  class="form-control" placeholder="Appartment, suite, unit etc: (optional)">
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="towncity">Town / City</label>
                <input type="text"  class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="postcodezip">Postcode / ZIP *</label>
                <input type="text"  class="form-control" placeholder="">
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text"  class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="emailaddress">Email Address</label>
                <input type="text"  class="form-control" placeholder="">
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12">
      
            </div>
          </div>
        </form>
      </div>
      <div class="col-xl-5">
        <div class="row mt-5 pt-3">
          <div class="col-md-12 d-flex mb-5" style="    border: 1px solid gainsboro;">
            <div class="cart-detail cart-total p-3 p-md-4" style="width: 100%;">
              <h3 class="billing-heading mb-4">Cart Total</h3>
              <p class="d-flex">
                <span style="width: 100%;">Subtotal</span>
                <span>$200</span>
              </p>
              <p class="d-flex">
                <span style="width: 100%;">Delivery</span>
                <span>$0.00</span>
              </p>
              <p class="d-flex">
                <span style="width: 100%;">Discount</span>
                <span>$3.00</span>
              </p>
              <hr>
              <p class="d-flex total-price">
                <span style="width: 100%;">Total</span>
                <span>$300</span>
              </p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="cart-detail p-3 p-md-4">
              <h3 class="billing-heading mb-4">Payment Method</h3>
              <div class="form-group">
                <div class="col-md-12">
                  <div class="radio">
                    <label><input type="radio" name="optradio" class="mr-2"> Direct Bank Tranfer</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <div class="radio">
                    <label><input type="radio" name="optradio" class="mr-2"> Check Payment</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <div class="radio">
                    <label><input type="radio" name="optradio" class="mr-2"> Paypal</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <div class="checkbox">
                    <label><input type="checkbox" value="" class="mr-2"> I have read and accept the terms and
                      conditions</label>
                  </div>
                </div>
              </div>
              <p><a class="btn btn-primary py-3 px-4" style="    color: white;" (click)="submit()">Place an order</a></p>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>  -->

<app-header></app-header>


    <div class="row" style="    padding: 36px;">
    <h3 class="mb-4 billing-heading" style="padding-left: 29px;
    padding-bottom: 12px;">Billing Details</h3>

        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="firstname">Firt Name</label>
                        <input type="text"  class="form-control" placeholder="">
                      </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="firstname">Lasr Name</label>
                        <input type="text"  class="form-control" placeholder="">
                      </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                      <label for="country">State</label>
                      <input type="text"  class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="streetaddress">Street Address</label>
                      <input type="text" class="form-control" placeholder="House number and street name">
                    </div>
                  </div>
                
                  <div class="w-100"></div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="towncity">Town / City</label>
                      <input type="text"  class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="postcodezip">Postcode / ZIP *</label>
                      <input type="text"  class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="phone">Phone</label>
                      <input type="text"  class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="emailaddress">Email Address</label>
                      <input type="text"  class="form-control" placeholder="">
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12 d-flex mb-5" style="    border: 1px solid gainsboro;">
                <div class="cart-detail cart-total p-3 p-md-4" style="width: 100%;    padding: 11px;">
                  <h3 class="billing-heading mb-4">Cart Total</h3>
                  <p class="d-flex">
                    <span style="width: 100%;">Subtotal</span>
                    <span style="float: right; color: green;font-weight: 600;">$200</span>
                  </p>
                  <p class="d-flex">
                    <span style="width: 100%;">Delivery</span>
                    <span style="float: right; color: black;font-weight: 600;">$0.00</span>
                  </p>
                  <p class="d-flex">
                    <span style="width: 100%;">Discount</span>
                    <span style="float: right; color:black;font-weight: 600;">$3.00</span>
                  </p>
                  <hr>
                  <p class="d-flex total-price">
                    <span style="width: 100%;">Total</span>
                    <span style="float: right; color: red;font-weight: 600;">$200</span>
                  </p>
                </div>
              </div>
              <div class="cart-detail p-3 p-md-4" >
                <h3 class="billing-heading mb-4" style="margin-top: 16vw;">Payment Method</h3>
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="radio">
                      <label><input type="radio" name="optradio" class="mr-2"> Direct Bank Tranfer</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="radio">
                      <label><input type="radio" name="optradio" class="mr-2"> Check Payment</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="radio">
                      <label><input type="radio" name="optradio" class="mr-2"> Paypal</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="checkbox">
                      <label><input type="checkbox" value="" class="mr-2"> I have read and accept the terms and
                        conditions</label>
                    </div>
                  </div>
                </div>
                <p><a class="btn btn-primary py-3 px-4" style="    color: white;" (click)="submit()">Place an order</a></p>
              </div>
        </div>
    </div>
