<app-header></app-header>
<!-- <app-navigation></app-navigation> -->
<app-slider></app-slider>


<app-new-products></app-new-products>

<div class="section">
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-sm-12">

                <div class="grid" style="margin-bottom: 30px;">
                    <figure class="effect-lily">
                        <img src="./assets/img/2_1.jpg" alt="img12" />
                        <figcaption>
                            <div>
                                <h2 style="text-transform: capitalize;">Natural Fresh Fruits</h2>
                                <p style="color: black; font-weight: 500; margin-top: 10px;">Shop now <i
                                        class="fa fa-play"></i> </p>
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="effect-lily">
                        <img src="./assets/img/1_1.jpg" alt="img1" />
                        <figcaption>
                            <div>
                                <h2 style="text-transform: capitalize;"> Fresh Vegetables</h2>
                                <p style="color: black; font-weight: 500; margin-top: 10px;">Shop now <i
                                        class="fa fa-play"></i></p>
                            </div>
                        </figcaption>
                    </figure>
                </div>

            </div>
        </div>
    </div>

</div>


<!-- <app-new-products></app-new-products> -->




<app-bestseller></app-bestseller>


<!-- 
<div class="section">

                <img src="./assets/img/3_1.jpg" alt="img12"  style="width: 100%; height: 300px;" />

         
                    <div>
                        <h2 style="text-transform: capitalize;">Natural Fresh Fruits</h2>
                        <p style="color: black; font-weight: 500; margin-top: 10px;">Shop now <i
                                class="fa fa-play"></i> </p>
                    </div>
      
</div> -->

<!-- <app-product-slider></app-product-slider> -->

<app-advertisement></app-advertisement>
<app-categories></app-categories>
<app-footer></app-footer>





