<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script>
    $(document).ready(function() {
    $('#Carousel').carousel({
        interval: 5000
    })
});
</script>
<div class="container">
    <div class="row">
		<div class="col-md-12">
                <div id="Carousel" class="carousel slide">
                 
                <ol class="carousel-indicators">
                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel" data-slide-to="1"></li>
                    <li data-target="#Carousel" data-slide-to="2"></li>
                </ol>
                 
                <div class="carousel-inner">
                    
                <div class="item active">
                	<div class="row">
                	  <div class="col-md-3">
                        <div class="product" >
                            <div class="product-img">
                                <img src="./assets/img/new-balance-fresh-foam-kaymin.jpg" alt="">
        
                                <div class="product-label">
                                    <span class="new">NEW</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p style="text-align: center;" class="product-category">Cabeage</p>
                                <h3 style="text-align: center;" class="product-name">Cabeage</h3>
                                <h4 class="product-price">$20 </h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product-btns">
                
                                    <button class="quick-view" (click)="view(foodItems)"><i class="fa fa-eye"></i><span
                                            class="tooltipp">quickview</span></button>
                                    <button class="quick-view" ><i class="fa fa-heart"></i><span
                                            class="tooltipp">Wishlist</span></button>
                
                                    <button class="quick-view" (click)="addtoCart(foodItems)"><i class="fa fa-shopping-cart"></i> <span
                                            class="tooltipp">add to cart</span></button>
                                </div>
                            </div>
                
                        </div>
                        </div>
                	  <div class="col-md-3">
                          
                        
                       
                        <div class="product" >
                            <div class="product-img">
                                <img src="./assets/img/new-balance-fresh-foam-kaymin.jpg" alt="">
        
                                <div class="product-label">
                                    <span class="new">NEW</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p style="text-align: center;" class="product-category">Cabeage</p>
                                <h3 style="text-align: center;" class="product-name">Cabeage</h3>
                                <h4 class="product-price">$20 </h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product-btns">
                
                                    <button class="quick-view" (click)="view(foodItems)"><i class="fa fa-eye"></i><span
                                            class="tooltipp">quickview</span></button>
                                    <button class="quick-view" ><i class="fa fa-heart"></i><span
                                            class="tooltipp">Wishlist</span></button>
                
                                    <button class="quick-view" (click)="addtoCart(foodItems)"><i class="fa fa-shopping-cart"></i> <span
                                            class="tooltipp">add to cart</span></button>
                                </div>
                            </div>
                
                        </div>
                    </div>
                	  <div class="col-md-3">
                        <div class="product" >
                            <div class="product-img">
                                <img src="./assets/img/new-balance-fresh-foam-kaymin.jpg" alt="">
        
                                <div class="product-label">
                                    <span class="new">NEW</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p style="text-align: center;" class="product-category">Cabeage</p>
                                <h3 style="text-align: center;" class="product-name">Cabeage</h3>
                                <h4 class="product-price">$20 </h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product-btns">
                
                                    <button class="quick-view" (click)="view(foodItems)"><i class="fa fa-eye"></i><span
                                            class="tooltipp">quickview</span></button>
                                    <button class="quick-view" ><i class="fa fa-heart"></i><span
                                            class="tooltipp">Wishlist</span></button>
                
                                    <button class="quick-view" (click)="addtoCart(foodItems)"><i class="fa fa-shopping-cart"></i> <span
                                            class="tooltipp">add to cart</span></button>
                                </div>
                            </div>
                
                        </div>
                    </div>
                	  <div class="col-md-3">
                        <div class="product" >
                            <div class="product-img">
                                <img src="./assets/img/new-balance-fresh-foam-kaymin.jpg" alt="">
        
                                <div class="product-label">
                                    <span class="new">NEW</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p style="text-align: center;" class="product-category">Cabeage</p>
                                <h3 style="text-align: center;" class="product-name">Cabeage</h3>
                                <h4 class="product-price">$20 </h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product-btns">
                
                                    <button class="quick-view" (click)="view(foodItems)"><i class="fa fa-eye"></i><span
                                            class="tooltipp">quickview</span></button>
                                    <button class="quick-view" ><i class="fa fa-heart"></i><span
                                            class="tooltipp">Wishlist</span></button>
                
                                    <button class="quick-view" (click)="addtoCart(foodItems)"><i class="fa fa-shopping-cart"></i> <span
                                            class="tooltipp">add to cart</span></button>
                                </div>
                            </div>
                
                        </div>
                    </div>
                    
                    
                    </div>
    
                </div>
                 
           
                     
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="product" >
                                    <div class="product-img">
                                        <img src="./assets/img/new-balance-fresh-foam-kaymin.jpg" alt="">
                
                                        <div class="product-label">
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p style="text-align: center;" class="product-category">Cabeage</p>
                                        <h3 style="text-align: center;" class="product-name">Cabeage</h3>
                                        <h4 class="product-price">$20 </h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product-btns">
                        
                                            <button class="quick-view" (click)="view(foodItems)"><i class="fa fa-eye"></i><span
                                                    class="tooltipp">quickview</span></button>
                                            <button class="quick-view" ><i class="fa fa-heart"></i><span
                                                    class="tooltipp">Wishlist</span></button>
                        
                                            <button class="quick-view" (click)="addtoCart(foodItems)"><i class="fa fa-shopping-cart"></i> <span
                                                    class="tooltipp">add to cart</span></button>
                                        </div>
                                    </div>
                        
                                </div>
                            
                            </div>
                            <div class="col-md-3">
                                <div class="product" >
                                    <div class="product-img">
                                        <img src="./assets/img/brixton-patrol-all-terrain-anorak-jacket.jpg" alt="">
                
                                        <div class="product-label">
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p style="text-align: center;" class="product-category">Cabeage</p>
                                        <h3 style="text-align: center;" class="product-name">Cabeage</h3>
                                        <h4 class="product-price">$20 </h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product-btns">
                        
                                            <button class="quick-view" (click)="view(foodItems)"><i class="fa fa-eye"></i><span
                                                    class="tooltipp">quickview</span></button>
                                            <button class="quick-view" ><i class="fa fa-heart"></i><span
                                                    class="tooltipp">Wishlist</span></button>
                        
                                            <button class="quick-view" (click)="addtoCart(foodItems)"><i class="fa fa-shopping-cart"></i> <span
                                                    class="tooltipp">add to cart</span></button>
                                        </div>
                                    </div>
                        
                                </div>
                            </div>
                            <div class="col-md-3"> <div class="product" >
                                <div class="product-img">
                                    <img src="./assets/img/new-balance-fresh-foam-kaymin.jpg" alt="">
            
                                    <div class="product-label">
                                        <span class="new">NEW</span>
                                    </div>
                                </div>
                                <div class="product-body">
                                    <p style="text-align: center;" class="product-category">Cabeage</p>
                                    <h3 style="text-align: center;" class="product-name">Cabeage</h3>
                                    <h4 class="product-price">$20 </h4>
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product-btns">
                    
                                        <button class="quick-view" (click)="view(foodItems)"><i class="fa fa-eye"></i><span
                                                class="tooltipp">quickview</span></button>
                                        <button class="quick-view" ><i class="fa fa-heart"></i><span
                                                class="tooltipp">Wishlist</span></button>
                    
                                        <button class="quick-view" (click)="addtoCart(foodItems)"><i class="fa fa-shopping-cart"></i> <span
                                                class="tooltipp">add to cart</span></button>
                                    </div>
                                </div>
                    
                            </div></div>
                            <div class="col-md-3"> <div class="product" >
                                <div class="product-img">
                                    <img src="./assets/img/brixton-patrol-all-terrain-anorak-jacket.jpg" alt="">
            
                                    <div class="product-label">
                                        <span class="new">NEW</span>
                                    </div>
                                </div>
                                <div class="product-body">
                                    <p style="text-align: center;" class="product-category">Cabeage</p>
                                    <h3 style="text-align: center;" class="product-name">Cabeage</h3>
                                    <h4 class="product-price">$20 </h4>
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product-btns">
                    
                                        <button class="quick-view" (click)="view(foodItems)"><i class="fa fa-eye"></i><span
                                                class="tooltipp">quickview</span></button>
                                        <button class="quick-view" ><i class="fa fa-heart"></i><span
                                                class="tooltipp">Wishlist</span></button>
                    
                                        <button class="quick-view" (click)="addtoCart(foodItems)"><i class="fa fa-shopping-cart"></i> <span
                                                class="tooltipp">add to cart</span></button>
                                    </div>
                                </div>
                    
                            </div></div>
                        </div>
                    </div>
                   
                </div>
                  <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                  <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                </div>
                 
        </div>
        
        
	</div>
</div>
